@using BOL;
<style>
   .table th{
    border:10px;
    padding: 50px;
   }
</style>

<h1> product details</h1>
@{
    List<Product> products = Model;
    if (products != null)
    {
    <table class="table table-sm table-dark">
            <thead>
        <tr>

            <th>
                id
            </th>
            <th>
                name
            </th>
            <th>
                quantity
            </th>
            <th>
                details
            </th>
            <th>
                operation
            </th>

         </tr>
            @{foreach(Product p in products)
            {
                <tbody>

            <tr>
                <td>
                    @p.id
                </td>
                <td>
                    @p.name
                </td>
                <td>
                    @p.quantity
                </td> 

                <td>
                    @p.details
                </td>
              <td>
                      @* <button type="button" class="btn btn-primary" value="@p.id" onclick="/product/Insert" name="insert">Insert</button>
<button type="button" class="btn btn-primary" name="delete">delete</button>
<button type="button" class="btn btn-primary" name="update">Update</button> *@
                <a href="/product/insert/@p.id">insert</a>
                <a href="/product/delete">delete</a>
                <a href="/product/update">update</a>


                </td>
                
            </tr>
                </tbody>
            }}
        </table>
    }
}
